---
on:
  push:
    branches:
      - main
      - develop
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'
env:
  OTP_VERSION: '25.2'
  REGISTRY: 'ghcr.io'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - uses: erlef/setup-beam@v1
        with:
          otp-version: ${{env.OTP_VERSION}}
      - name: Build
        run: make deps app dialyze tests
      - uses: actions/upload-artifact@v3
        with:
          name: ct-logs
          path: logs
      - name: Beam Docker Release
        uses: shortishly/beam-docker-release-action@v1
        with:
          registry: ${{env.REGISTRY}}
          username: ${{github.actor}}
          password: ${{secrets.GITHUB_TOKEN}}
          build-image: erlang:${{env.OTP_VERSION}}
          image-description: >-
            Redis API compatible server and client
          image-licenses: Apache-2.0
