---
on:
  push:
    branches:
      - main
      - develop
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'
env:
  REGISTRY: 'ghcr.io'
jobs:
  build:
    strategy:
      matrix:
        otp:
          - 25
          - 26
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: erlef/setup-beam@v1
        with:
          otp-version: ${{matrix.otp}}
      - run: make deps app dialyze tests
      - uses: actions/upload-artifact@v3
        with:
          name: ct-logs-otp-${{matrix.otp}}
          path: _site/ct
  package:
    needs: build
    permissions:
      packages: write
    strategy:
      matrix:
        otp:
          - 26
    runs-on: ubuntu-latest
    steps:
      - uses: shortishly/beam-docker-release-action@main
        with:
          registry: ${{env.REGISTRY}}
          username: ${{github.actor}}
          password: ${{secrets.GITHUB_TOKEN}}
          build-image: erlang:${{matrix.otp}}
          image-description: >-
            Redis API compatible server and client
          image-licenses: Apache-2.0
      - uses: snyk/actions/docker@master
        env:
          SNYK_TOKEN: ${{secrets.SNYK_TOKEN}}
        with:
          image: ${{env.DOCKER_IMAGE_TAGS}}
  site:
    needs: build
    strategy:
      matrix:
        otp:
          - 26
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: erlef/setup-beam@v1
        with:
          otp-version: ${{matrix.otp}}
      - run: make edoc
      - run: make tests
      - uses: shortishly/coverdata@main
        with:
          input: _site/cover
          output: _site/cover/coverage.json
          otp-version: ${{matrix.otp}}
      - uses: actions/upload-pages-artifact@v3
        with:
          path: _site
  deploy:
    needs: site
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{steps.deployment.outputs.page_url}}
    runs-on: ubuntu-latest
    steps:
      - id: deployment
        uses: actions/deploy-pages@v2
